@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');

body, html {
    height: 100%;
}
body{
    background-image: url("../assets/bg.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}
header img{
    width: 7rem;
    height: auto;
    padding-left: 6rem;
    padding-top: 2rem;
}

body span{
    font-weight: normal;
}

main{
    text-align: center;
}

main h1{
    font-family: Outfit;
    font-weight: bold;   
    font-size: 30px;
}

p.dimensionP{
    font-size: 18px;
}

