@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');

body, html {
    height: 100%;
}
body{
    background-image: url("../assets/bg.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}
header img{
    width: 7rem;
    height: auto;
    padding-left: 6rem;
    padding-top: 2rem;
}

body span{
    font-weight: normal;
}

main{
    text-align: center;
}

main h1{
    font-family: Outfit;
    font-weight: bold;   
    font-size: 30px;
}

p.dimensionP{
    font-size: 18px;
}

button.bottoneIlluminato {
    background-color:  #00FFFF;
    font-weight: bold;
    width: 15%;
    padding: 20px;
    margin-left: 8.5%;
    font-size: 25px;
    font-family: Outfit;
    border: 1px;
    
}
button.bottoneIlluminato:hover {
    box-shadow: #00FFFF 0px -25px 5px -40px inset,#00FFFF 0 1px 25px,#00FFFF 0 1px 1px,#00FFFF 0 1px 1px,#00FFFF 0 1px 1px,#00FFFF 0 1px 1px;
  } 

