h2 {
    font-size:60px;
    margin-bottom: 1%;
    
}

div:first-child {
    margin-top: 15%;    
}

.stelle{
    margin-top: 2%;
    margin-bottom: 5%;
}

.formContenitore {
    margin-top: 5%;
    padding-right: 16%;
}

.commentRate {
    color: grey;
    background-color: transparent;
    border: none;
    margin-bottom: 5%;
    
}