.dimensioniP{
    margin-bottom: 20px;
}
.contenitore{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 50px;
}
.circlebar {
    width: 400px;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: inherit;
}
  .barrapiena {
    stroke:#00FFFF;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 1.5s ease;
  }
  .circlesfondo {
    stroke: #C2128D; 
    stroke-width: 55;
    fill: transparent;
  }

  .centrocerchio h3{
    line-height: 3rem;
    font-weight: bold;
    margin-bottom: -13px;
    margin-top: 70px;
  }
  .centrocerchio span{
    margin-top: 0px;
    color: #00FFFF;
    font-weight: bold;
    font-size: large;
    
  }
  .centrocerchio p{
    font-size: x-small;
    padding-top: 15px;
  }
  .percentuale {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    color: whitesmoke;
  }
  .cicrleText {
    fill: whitesmoke;
  }
  .mail{
    font-size: 0.8rem;
    fill: whitesmoke;
    display: flex;
    flex-wrap: wrap;
  }
  .centrocerchio{
    padding: 25px;
    padding-top: 40px;
  }
.correct{
  font-size: 30px;
  padding-top: 70px;
  line-height: 0.8rem;
  text-align: left;
}
.correct p:first{
  margin: 0px;

}
.correct p:last-child{
  font-size: 15px;
}
.correctpercent{
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  margin-top: -12px;
}
.wrongpercent{
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  margin-top: -12px;
}
.wrong{
  font-size: 30px;
  padding-top: 70px;
  line-height: 0.8rem;
  text-align: right;
}

.wrong p:last-child{
  font-size: 15px;
}

form{
    padding-top: 40px;
}
.rateUs{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 3px solid #ccc;
    width: 150px; 
    height: 50px; 
    outline: none; 
    margin-bottom: -5px; 
    font: bold;
    color: whitesmoke;
    font-size: 15px;
}
.rateUs:hover{
  box-shadow: #d20094 0px -25px 5px -40px inset,#d20094 0 1px 25px,#d20094 0 1px 1px,#d20094 0 1px 1px,#d20094 0 1px 1px,#d20094 0 1px 1px;
}
